<div class="container-fluid">
<div class="topNav">

  <img class="navbarPicture" src="../../../assets/Chinchilla.jpg" alt="chinch picture">

</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="history" routerLinkActive="active-link">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="racesigns" routerLinkActive="active-link">Race Signs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLinkActive="active-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Games
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="games" routerLinkActive="active-link">Info</a></li>
              <li><a class="dropdown-item" routerLink="triplecrown" routerLinkActive="active-link">Triple Crown</a></li>
              <li><a class="dropdown-item" routerLink="gamesigns" routerLinkActive="active-link">Game Signs</a></li>
              <li><a class="dropdown-item" routerLink="bracketgenerator" routerLinkActive="active-link">Bracket Generator</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLinkActive="active-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Food
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="foodmenu" routerLinkActive="active-link">Menu</a></li>
              <li><a class="dropdown-item" routerLink="foodform" routerLinkActive="active-link">Form</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a *ngIf="!userAuthenticated" class="nav-link" routerLink="signin" routerLinkActive="active-link">Sign In</a>
            <a *ngIf="userAuthenticated" class="nav-link" routerLink="profile" routerLinkActive="active-link">Profile</a>
          </li>
          <li class="nav-item">
            <a *ngIf="userAuthenticated" class="nav-link" (click)="logOut()" routerLink="home" routerLinkActive="active-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>