.content {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 750px;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: -1px;
    font-size: 30px;
}

.accordion-button {
    background-color: black;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: black;
    color: #cc0000;

}

h3 {
    margin-top: -1px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: -1px;
}

.accordion {
    margin: 0 auto;
    max-width: 500px;
}