<div class="container-fluid">
    <h1>The Race Menu</h1>
    <br>
    <div id="accordionExample" class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="accordion-button collapsed">
                     Friday 
                    </button>
                </h2>
                <div id="collapseOne" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h3>Breakfast</h3>
                        <p>No breakfast</p>
                        <h3>Lunch</h3>
                        <p>No lunch</p>
                        <h3>Dinner</h3>
                        <p>Cheeseburger Soup (Choup), Chille</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="accordion-button collapsed">
                        Saturday
                    </button>
                </h2>
                <div id="collapseTwo" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h3 >Breakfast</h3>
                        <p>Suasage Gravy and Biscuits, Eggs Galore, Cereal</p>
                        <h3>Lunch</h3>
                        <p>Cheeseburger Soup (Choup),Chille</p>
                        <h3>Dinner</h3>
                        <p>Pulled Pork Sandwhiches</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item"><h2  class="accordion-header">
                <button  type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="accordion-button collapsed">
                    Sunday
                </button>
            </h2>
            <div id="collapseThree" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <h3>Breakfast</h3>
                    <p>Suasage Gravy and Biscuits, Eggs Galore, Cereal</p>
                    <h3>Lunch</h3>
                    <p >Cheeseburger Soup (Choup), Chille, Pulled Pork Sandwhiches</p>
                    <h3>Dinner</h3>
                    <p>Taco Bar</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2  class="accordion-header">
                <button  type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo" class="accordion-button collapsed">
                    Monday</button>
                </h2>
                <div id="collapseFour" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <h3 >Breakfast</h3>
                        <p>Suasage Gravy and Biscuits, Eggs Galore, Cereal</p>
                        <h3>Lunch</h3>
                        <p>Any leftovers</p>
                        <h3>Dinner</h3>
                        <p>No dinner</p>
                    </div>
                </div>
            </div>
        </div>
</div>