<div class="container-fluid">
            <form id="form" (ngSubmit)="onSubmit()" [formGroup]='postForm'>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input class="form-control" id="year" formControlName="year" type="text" required>
                    <label for="entry">Entry</label>
                    <input class="form-control" id="entry" formControlName="entry" type="text" required>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
</div>