<div class="container">

    <div class="row">
        <div class="col">
            <h2>Race Meeting Notes</h2>
            
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Entry</th>
                    <th *ngIf="isAuthenticated">Action</th>
    
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let post of PostEntries; let i = index'>
                        <td>{{post.year}}</td>
                        <td>{{post.entry}}</td>
                        <td *ngIf="isAuthenticated">
                            <button class="btn btn-primary" (click)="onEdit(post.id)">Edit</button>   
                            <button class="btn btn-danger" (click)='onDelete(post.id)'>Delete</button>
                        </td>
                    </tr>   
                </tbody>
            
            </table>
    
        </div>
    </div>
</div>
