
<div class="container">
    <div class="notesForm">

        <div class="item item-1 flex">
            <h3 id="yearsText">Years</h3>
            <button *ngIf="isAuthenticated" type="button" class="toolButton" (click)="onNewPost()">+</button>
        </div>

        <div class="item item-2 flex">
            <h3 #notesHeader >Notes</h3>
            <button type="button" class="btn btn-primary" (click)="openDialog()">Open Modal</button>
            <button *ngIf="isAuthenticated"  type="button" class="toolButton">Edit</button>
        </div>

        <div class="item item-3 flex">            
            <button *ngFor='let post of PostEntries; let i = index' (click)='getEntryPost(post.id)'>{{post.year}}</button>   
        </div>

        <div class="item item-4 flex">

            <p id="notes" #notesBox ></p>
        </div>
    </div>

</div>
