<div class="container">
    <h2>Race Meeting Notes</h2>

    <div class="row">
        <div class="col leftside">
            <div class="row">
                <p>2022</p>
            </div>
            <div class="row">
                <p>2021</p>
            </div>
            <div class="row">
                <p>2020</p>
            </div>
            <div class="row">
                <p>2019</p>
            </div>
        </div>
    
        <div class="col rightside">
            <p>Test</p>
            <button *ngIf="userAuthenticated" >Add</button>
            <button *ngIf="userAuthenticated" >Edit</button>
            <button *ngIf="userAuthenticated" >Remove</button>

            
        </div>
    </div>

</div>
