<div class="container-fluid">
    <h3><span style="font-size: 150px;">T</span><span style="margin-left: -25px">errific   </span><span style="font-size: 150px; margin-left: -20px;">T</span><span style="margin-left: -25px">en</span></h3>
    <br><br>
    <h4 style="font-weight: bold;">Welcome to the official North Carolina Race Headquarters!</h4>
    <p>The Race is an annual event that occurs every Labor Day weekend. This event is to commemorate the creation of the 'Terrific Ten' which takes place from Friday to Monday!</p>
    <img id="rainbowImg" src="../../../assets/rainbow.jpg" alt="Rainbow over Little Lake">
</div>
