<div class="container-fluid">

    <h2>Game trophy signs!</h2>
    <h3>Here are the front and back pictures with the concurrent winners in order</h3>
    <br>
    <h3>Darts Euchre Horseshoes</h3>
    <br>
    <img style='height: 250px; width: 250px; object-fit: contain' src="../../../../assets/dartFront.JPG"
        alt="Darts Front\">
    <img style='height: 250px; width: 250px; object-fit: contain' src="../../../../assets/dartBack.JPG"
        alt="Darts Back\">
    <img style='height: 250px; width: 250px; object-fit: contain' src="../../../../assets/euchreFront.JPG"
        alt="Euchre Front\">
    <img style='height: 250px; width: 250px; object-fit: contain' src="../../../../assets/euchreBack.JPG"
        alt="Euchre Back\">
    <img style='height: 250px; width: 250px; object-fit: contain' src="../../../../assets/horseShoeFront.JPG"
        alt="Horseshoes Front\">
    <img style='height: 250px; width: 250px; object-fit: contain' src="../../../../assets/horseShoeBack.JPG"
        alt="Horseshoes Back\">


</div>