<div class="container">
<p>With every Race comes a sign that defines the year.<br> Below are the Race signs that we used to define not only our Race but the year leading up to it</p>
        <br><br>

<div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/signs/sign55.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 55</h4>
          <p>Racer at the Gates of Dawn (A homage to the anniversary of the first Pink Floyd album).</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign54.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 54</h4>
          <p>Delta Chinch stands by Corona-s .</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign53.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 53</h4>
          <p>Mask up Racers!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign52.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 52</h4>
          <p>CALLING ALL RACERS (A homage to SamWiseTheBrave and his near-death expierence)</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign51.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 51</h4>
          <p>Racin to Area 51!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign50.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 50</h4>
          <p>50 whole years of the Race!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign49.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 49</h4>
          <p>Racers take on the worldwide sensation of Pokémon Go, gotta catch em all!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign48.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 48</h4>
          <p>EXTERMINATE hate with love.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign47.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 47</h4>
          <p>Race Time is on Prime Time ~~ 47</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign45.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 45</h4>
          <p>RACEING BECAUSE I'M CRAAAAZY!!!!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/signs/sign44.JPG" class="d-block w-100" alt="..." data-bs-interval="10000">
        <div class="carousel-caption d-inline d-md-block">
          <h4>Race 44</h4>
          <p>Twas the Dark Side of the 4s</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>