<div class="container-fluid">

    <h2>The annual Race Games consist of...</h2>
    <div id="accordionExample" class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne" class="accordion-button collapsed">
                    Poker
                </button>
            </h2>
            <div id="collapseOne" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <h3>Description</h3>
                    <p>Poker is a game of skill, psychology, and strategy. Understanding the odds, reading other
                        players' behavior, and making well-timed bets are crucial to success.</p>
                    <p>As a result, poker offers a captivating blend of chance and skill that has made it a beloved
                        pastime for players worldwide.</p>

                    <p id="gameButtons"><a href="https://bicyclecards.com/how-to-play/basics-of-poker" target="_blank">How to Play</a>
                    </p>
                    <p id="gameButtons"><a href="https://www.youtube.com/watch?v=KuSR4-cVb30" target="_blank">Video Explanation</a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo" class="accordion-button collapsed">
                    Euchre
                </button>
            </h2>
            <div id="collapseTwo" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <h3>Description</h3>
                    <p>Euchre is a popular trick-taking card game typically played with four players in two
                        partnerships.</p>
                    <p>This card game combines strategy, teamwork, and a bit of luck, making it a fun and engaging game
                        for players of all ages.</p>
                    <p id="gameButtons"><a href="https://bicyclecards.com/how-to-play/euchre" target="_blank">How to Play</a></p>
                    <p id="gameButtons"><a href="https://www.youtube.com/watch?v=MLOS84a6FtQ&t=57s" target="_blank">Video Explanation</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree" class="accordion-button collapsed">
                    Darts
                </button>
            </h2>
            <div id="collapseThree" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <h3>Description</h3>
                    <p>Darts Cricket is a game that combines precision, strategy, and a bit of luck. Players must decide
                        which numbers to focus on, whether to go for points or aim to close numbers quickly to prevent
                        their opponents from scoring.</p>
                    <p>The game offers a great balance of competitive challenge and social fun for darts enthusiasts of
                        all skill levels.</p>
                    <p id="gameButtons"><a href="https://www.dartslive.com/beginner/en/cricket/" target="_blank">How to Play</a></p>
                    <p id="gameButtons"><a href="https://www.youtube.com/watch?v=dMo3iaPeLuI&t=72s" target="_blank">Video Explanation</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour" class="accordion-button collapsed">
                    Horseshoes
                </button>
            </h2>
            <div id="collapseFour" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <h3>Description</h3>
                    <p>Horseshoes is a casual and social game that allows players to enjoy the outdoors while engaging
                        in friendly competition.</p>
                    <p>The game can be adapted for different skill levels, making it accessible and enjoyable for
                        players of all ages and abilities.</p>
                    <p id="gameButtons"><a href="https://www.mastersofgames.com/rules/horseshoe-pitching-rules.htm" target="_blank">How
                            to Play</a></p>
                    <p id="gameButtons"><a href="https://www.youtube.com/watch?v=IsALhFAXNYY" target="_blank">Video Explanation</a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive" class="accordion-button collapsed">
                    MarioKart
                </button>
            </h2>
            <div id="collapseFive" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <h3>Description</h3>
                    <p>In Mario Kart, players take control of a character from the Mario universe and compete in go-kart
                        races against other characters.</p>
                    <p>The primary objective is to finish the race in the best position possible to earn points and win
                        trophies. The races take place on various colorful and imaginative tracks inspired by the Mario
                        series.</p>
                    <p id="gameButtons"><a href="https://play.nintendo.com/news-tips/tips-tricks/mario-kart-8-deluxe-tips-tricks/"
                            target="_blank">All inclusive guide</a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                    aria-controls="collapseSix" class="accordion-button collapsed">
                    BeerioKart
                </button>
            </h2>
            <div id="collapseSix" data-bs-parent="#accordionExample" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <h3>Description</h3>
                    <p>Beerio Kart is a drinking game variation of the popular video game series Mario Kart. It combines
                        the fun of playing Mario Kart with the social aspect of drinking with friends.</p>
                    <p>It is important to note that this game involves drinking alcohol, so it should be played
                        responsibly and only by legal drinking-age participants.</p>
                    <p id="gameButtons"><a href="https://jasonmccreary.me/articles/beerio-kart/" target="_blank">All inclusive guide</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h4>Use the dropdown below to show the winners over the years!</h4>
    <select class="form-select" #yearInput (change)="gameWinners(yearInput)" aria-label="Default select example">
        <option value="0">2011</option>
        <option value="1">2012</option>
        <option value="2">2013</option>
        <option value="3">2014</option>
        <option value="4">2015</option>
        <option value="5">2016</option>
        <option value="6">2017</option>
        <option value="7">2018</option>
        <option value="8">2019</option>
        <option value="9">2020</option>
        <option value="10">2021</option>
        <option value="11">2022</option>
    </select>

    <br>

    <p id="poker" #pokerRef>Poker: Sassy Sara</p>

    <p id="euchre" #euchreRef>Euchre: Sassy Sara</p>

    <p id="darts" #dartsRef>Darts: Sassy Sara</p>

    <p id="horseShoes" #horseShoesRef>HorseShoes: Sassy Sara</p>



</div>