<div class="content">

    <h4>The annual Race Games consists of...</h4>
    <p>Poker (Only on Friday) <br> Euchre <br> Darts <br> Horseshoes</p>
        <select class="form-select" #yearInput (change)="gameWinners(yearInput)"  aria-label="Default select example">
          <option value="0">2011</option>
          <option value="1">2012</option>
          <option value="2">2013</option>
          <option value="3">2014</option>
          <option value="4">2015</option>
          <option value="5">2016</option>
          <option value="6">2017</option>
          <option value="7">2018</option>
          <option value="8">2019</option>
          <option value="9">2020</option>
          <option value="10">2021</option>
          <option value="11">2022</option>
        </select>
  
      <br>
  
      <p id="poker" #pokerRef >Poker: Sassy Sara</p>
  
      <p id="euchre" #euchreRef>Euchre: Sassy Sara</p>
  
      <p id="darts" #dartsRef>Darts: Sassy Sara</p>
  
      <p id="horseShoes" #horseShoesRef>HorseShoes: Sassy Sara</p>
      </div>

   